<a href="https://colab.research.google.com/github/skyway-ml-projects/linear-regression-tool-kit/blob/main/xgboost_regressor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# XGBoost Regressor

## Part 1 - Data Preprocessing

### Importing the dataset

In [ ]:
import pandas as pd
dataset = pd.read_csv('insurance.csv')

In [ ]:
dataset.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

### Checking missing data

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

### Handling categorical variables

Sex column

In [ ]:
dataset['sex'].unique()

array(['female', 'male'], dtype=object)

In [ ]:
dataset['sex'] = dataset['sex'].apply(lambda x: 0 if x == 'female' else 1)

In [ ]:
dataset.head()

   age  sex     bmi  children smoker     region      charges
0   19    0  27.900         0    yes  southwest  16884.92400
1   18    1  33.770         1     no  southeast   1725.55230
2   28    1  33.000         3     no  southeast   4449.46200
3   33    1  22.705         0     no  northwest  21984.47061
4   32    1  28.880         0     no  northwest   3866.85520

Smoker column

In [ ]:
dataset['smoker'].unique()

array(['yes', 'no'], dtype=object)

In [ ]:
dataset['smoker'] = dataset['smoker'].apply(lambda x: 0 if x == 'no' else 1)

In [ ]:
dataset.head()

   age  sex     bmi  children  smoker     region      charges
0   19    0  27.900         0       1  southwest  16884.92400
1   18    1  33.770         1       0  southeast   1725.55230
2   28    1  33.000         3       0  southeast   4449.46200
3   33    1  22.705         0       0  northwest  21984.47061
4   32    1  28.880         0       0  northwest   3866.85520

Region column

In [ ]:
dataset['region'].unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [ ]:
region_dummies = pd.get_dummies(dataset['region'], drop_first = True)

In [ ]:
region_dummies

      northwest  southeast  southwest
0             0          0          1
1             0          1          0
2             0          1          0
3             1          0          0
4             1          0          0
...         ...        ...        ...
1333          1          0          0
1334          0          0          0
1335          0          1          0
1336          0          0          1
1337          1          0          0

[1338 rows x 3 columns]

In [ ]:
dataset = pd.concat([region_dummies, dataset], axis = 1)

In [ ]:
dataset.head()

,northwest,southeast,southwest,age,sex,bmi,children,smoker,region,charges
0,0,0,1,19,0,27.900,0,1,southwest,16884.92400
1,0,1,0,18,1,33.770,1,0,southeast,1725.55230
2,0,1,0,28,1,33.000,3,0,southeast,4449.46200
3,1,0,0,33,1,22.705,0,0,northwest,21984.47061
4,1,0,0,32,1,28.880,0,0,northwest,3866.85520

In [ ]:
dataset.drop(['region'], axis = 1, inplace = True)

In [ ]:
dataset.head()

,northwest,southeast,southwest,age,sex,bmi,children,smoker,charges
0,0,0,1,19,0,27.900,0,1,16884.92400
1,0,1,0,18,1,33.770,1,0,1725.55230
2,0,1,0,28,1,33.000,3,0,4449.46200
3,1,0,0,33,1,22.705,0,0,21984.47061
4,1,0,0,32,1,28.880,0,0,3866.85520

### Creating the Training Set and the Test Set

Getting the inputs and output

In [ ]:
X = dataset.iloc[:, :-1].values

In [ ]:
y = dataset.iloc[:, -1].values

In [ ]:
X

array([[ 0.  ,  0.  ,  1.  , ..., 27.9 ,  0.  ,  1.  ],
       [ 0.  ,  1.  ,  0.  , ..., 33.77,  1.  ,  0.  ],
       [ 0.  ,  1.  ,  0.  , ..., 33.  ,  3.  ,  0.  ],
       ...,
       [ 0.  ,  1.  ,  0.  , ..., 36.85,  0.  ,  0.  ],
       [ 0.  ,  0.  ,  1.  , ..., 25.8 ,  0.  ,  0.  ],
       [ 1.  ,  0.  ,  0.  , ..., 29.07,  0.  ,  1.  ]])

In [ ]:
y

array([16884.924 ,  1725.5523,  4449.462 , ...,  1629.8335,  2007.945 ,
       29141.3603])

Getting the Training Set and the Test Set

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

## Part 2 - Building and training the model

### Building the model

In [ ]:
import xgboost
model = xgboost.XGBRegressor(max_depth = 2, learning_rate = 0.1, n_estimators = 100)

### Training the model

In [ ]:
model.fit(X_train, y_train)

[15:46:10] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(max_depth=2)

### Inference

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
y_pred

array([12123.452 , 10226.204 , 44675.7   , 14727.231 , 10519.309 ,
        4285.9536,  2478.0562, 12992.854 ,  8282.596 ,  7207.9585,
        5826.118 , 11646.996 ,  9091.76  ,  5295.4985, 20105.365 ,
       11860.509 , 14064.408 ,  5881.954 ,  7876.936 , 35374.64  ,
       25521.076 , 14164.401 , 12653.041 , 25463.967 ,  3407.1606,
        6992.024 ,  3809.7744,  8335.29  ,  4505.3887, 10872.691 ,
        8331.48  , 46417.715 , 14565.901 , 12044.629 , 17231.049 ,
        5142.3315, 11219.184 , 38019.695 , 38714.816 ,  2860.5044,
        4384.7163,  4683.673 , 20990.736 , 45996.84  , 37044.598 ,
        5658.7124, 11860.509 ,  7194.0396,  5257.931 , 12498.075 ,
        4983.595 ,  4994.2207, 25737.668 , 44622.766 , 12174.301 ,
        5802.556 ,  4811.888 , 10470.597 ,  9997.311 , 15456.588 ,
        2619.3455, 45699.465 , 16564.605 , 11532.103 , 13197.42  ,
       10447.624 , 35056.277 , 39353.336 ,  4253.192 ,  9740.398 ,
       14642.002 , 12545.009 , 18751.637 , 14928.171 , 13945.865 ,
       14244.735 ,  8470.512 , 10276.278 , 21319.383 , 46863.445 ,
       12347.6455, 42643.855 ,  3782.3315,  9172.705 , 42189.668 ,
       21331.537 ,  4780.4316,  4995.8066, 15627.576 , 37226.88  ,
        7729.21  , 11913.597 ,  4828.9434, 10141.025 ,  6305.7144,
        6503.1587, 43016.945 , 36678.5   ,  7195.747 , 11525.718 ,
        4524.9365,  7156.317 ,  6781.686 , 38385.13  , 23956.91  ,
        4388.1074, 11785.234 ,  5560.202 , 12705.869 , 43423.51  ,
       13230.809 ,  6550.101 , 10936.116 , 35374.64  , 45206.8   ,
        7829.819 ,  3156.7139, 10391.722 , 15345.66  ,  9885.56  ,
       42601.46  , 12072.842 , 13890.976 ,  7684.6123,  9673.911 ,
        5978.6724, 25097.08  , 24820.738 , 45425.105 ,  4146.5903,
       10320.877 ,  4447.403 ,  7175.946 , 10039.    , 33516.188 ,
       36856.98  , 22511.404 , 11477.131 , 26127.027 ,  5520.8926,
        3770.1206, 12359.856 , 12292.805 , 12608.442 ,  6056.709 ,
       14928.171 , 15684.91  ,  5534.0396,  2656.6113, 12378.753 ,
        7172.136 , 38146.312 , 11669.715 ,  4447.403 ,  4824.914 ,
        7642.6997,  4822.574 ,  3782.9133, 12274.568 , 11638.249 ,
        7151.1494, 14164.048 , 14106.361 , 10403.025 ,  3594.609 ,
        7553.381 , 15934.128 ,  7195.747 ,  5748.844 ,  3219.7979,
        7207.9585,  6733.279 , 10734.937 ,  4811.888 ,  6147.884 ,
        7139.3193,  5851.757 ,  6648.74  , 29047.408 ,  2433.4578,
       14164.401 ,  8294.807 , 12665.252 ,  5101.5435,  6492.7036,
       27541.064 ,  3725.5222,  3455.2617, 14824.006 , 11934.102 ,
       42075.26  ,  6205.079 ,  6035.623 , 25021.668 ,  5360.0664,
        3817.3271,  8237.997 ,  8370.156 ,  7193.243 ,  6097.4995,
       13118.638 , 44914.88  , 14164.401 , 20991.52  ,  7207.9585,
       43665.44  ,  5474.9346, 12384.808 ,  7878.7876,  3295.3   ,
       11253.723 , 14824.006 ,  6150.304 ,  4073.9802,  7111.6343,
        3777.6692,  7374.2256,  5898.878 , 15992.27  ,  6366.346 ,
        7638.5884,  7543.409 , 10171.474 ,  3898.4966, 11958.195 ,
       15458.496 , 14855.555 , 12204.62  ,  6043.047 ,  3830.0222,
        3407.1606, 10017.2705, 13957.148 ,  6492.8486,  5408.6875,
        7701.486 , 10936.116 , 36402.867 ,  7127.5386, 13362.783 ,
        6510.3457, 38754.906 ,  8069.465 ,  8786.419 , 10747.147 ,
       13130.849 ,  4267.8857, 10211.55  ,  2438.3987,  6752.058 ,
       20266.371 , 45249.062 ,  5615.8745,  5449.734 ,  3105.6282,
        2339.6357,  9172.705 ,  3738.7095,  6144.056 ,  5408.6875,
        8733.409 , 25782.266 , 44041.934 , 17180.1   ,  7651.1016,
       12430.645 , 39509.723 ,  9828.75  ], dtype=float32)

In [ ]:
y_test

array([ 9724.53    ,  8547.6913  , 45702.02235 , 12950.0712  ,
        9644.2525  ,  4500.33925 ,  2198.18985 , 11436.73815 ,
        7537.1639  ,  5425.02335 ,  6753.038   , 10493.9458  ,
        7337.748   ,  4185.0979  , 18310.742   , 10702.6424  ,
       12523.6048  ,  3490.5491  ,  6457.8434  , 33475.81715 ,
       23967.38305 , 12643.3778  , 23045.56616 , 23065.4207  ,
        1674.6323  ,  4667.60765 ,  3732.6251  ,  7682.67    ,
        3756.6216  ,  8413.46305 ,  8059.6791  , 48970.2476  ,
       12979.358   , 20630.28351 , 14571.8908  ,  4137.5227  ,
        8347.1643  , 51194.55914 , 40003.33225 ,  1880.487   ,
        5458.04645 ,  2867.1196  , 20149.3229  , 47496.49445 ,
       36149.4835  , 26018.95052 , 19749.38338 ,  6940.90985 ,
        4718.20355 , 22192.43711 ,  2899.48935 , 18838.70366 ,
       23568.272   , 46255.1125  , 24227.33724 ,  3268.84665 ,
        2322.6218  ,  8827.2099  , 14478.33015 , 13112.6048  ,
        1253.936   , 46718.16325 , 13919.8229  ,  9630.397   ,
       10736.87075 ,  9880.068   , 32548.3405  , 38746.3551  ,
        3180.5101  ,  8162.71625 , 13041.921   , 11554.2236  ,
       16232.847   , 13887.9685  , 13012.20865 , 13217.0945  ,
        7147.105   ,  7731.4271  , 20296.86345 , 47403.88    ,
       11658.37915 , 45863.205   ,  2055.3249  ,  7441.053   ,
       41034.2214  , 18972.495   ,  3410.324   ,  2699.56835 ,
       12333.828   , 36837.467   ,  6334.34355 , 10214.636   ,
       17878.90068 ,  8515.7587  ,  4518.82625 ,  5148.5526  ,
       42303.69215 , 38998.546   ,  5327.40025 , 10602.385   ,
        1824.2854  ,  5377.4578  ,  4349.462   , 37742.5757  ,
       32787.45859 ,  3353.4703  , 10577.087   ,  3556.9223  ,
       11944.59435 , 52590.82939 , 12475.3513  ,  4266.1658  ,
        9249.4952  , 33732.6867  , 48675.5177  ,  7729.64575 ,
        1964.78    ,  8444.474   , 12347.172   ,  9301.89355 ,
       42124.5153  ,  9991.03765 , 14319.031   ,  5428.7277  ,
        7626.993   ,  4906.40965 , 23401.30575 , 21098.55405 ,
       48173.361   ,  1917.3184  ,  8219.2039  ,  1725.5523  ,
        5976.8311  ,  9361.3268  , 22144.032   , 35491.64    ,
       19515.5416  , 10107.2206  , 23244.7902  ,  2789.0574  ,
        2261.5688  , 10594.50155 ,  9304.7019  , 10435.06525 ,
        4894.7533  , 14313.8463  , 28287.89766 , 14426.07385 ,
        1627.28245 , 25517.11363 ,  6555.07035 , 39611.7577  ,
        9964.06    ,  1720.3537  ,  2730.10785 ,  6500.2359  ,
        2643.2685  ,  1719.4363  , 11085.5868  , 10115.00885 ,
        4846.92015 , 12982.8747  , 28923.13692 ,  9391.346   ,
        4544.2348  , 17128.42608 , 13844.506   ,  6113.23105 ,
        4441.21315 ,  1633.9618  ,  4058.71245 ,  4435.0942  ,
        8310.83915 ,  1986.9334  ,  4260.744   ,  4504.6624  ,
        4428.88785 ,  6117.4945  , 30184.9367  ,  1708.92575 ,
       11187.6567  ,  6796.86325 , 11356.6609  ,  2498.4144  ,
       27375.90478 , 28101.33305 ,  2254.7967  ,  2597.779   ,
       14692.66935 , 10370.91255 , 41097.16175 ,  3981.9768  ,
        5472.449   , 21223.6758  ,  2534.39375 ,  1972.95    ,
        6406.4107  ,  6551.7501  ,  4058.1161  ,  4243.59005 ,
       11512.405   , 46889.2612  , 12268.63225 , 19199.944   ,
        4433.3877  , 42969.8527  , 23241.47453 ,  9140.951   ,
        5836.5204  ,  1149.3959  ,  8765.249   , 14043.4767  ,
        5312.16985 , 10795.93733 ,  6282.235   ,  1969.614   ,
        6746.7425  ,  5354.07465 , 14001.2867  ,  6877.9801  ,
        6196.448   ,  7986.47525 ,  8277.523   ,  3206.49135 ,
       11848.141   , 14210.53595 , 12265.5069  , 11837.16    ,
        6652.5288  ,  2137.6536  ,  1131.5066  ,  8342.90875 ,
       12244.531   ,  4561.1885  , 17626.23951 ,  6875.961   ,
        9447.3824  , 34254.05335 ,  6067.12675 , 11729.6795  ,
        5383.536   , 37465.34375 ,  7371.772   ,  7325.0482  ,
        8410.04685 , 10461.9794  ,  3279.86855 ,  7727.2532  ,
        2731.9122  ,  6858.4796  , 19521.9682  , 47305.305   ,
        3987.926   ,  3238.4357  ,  7323.734819,  1704.5681  ,
        7445.918   ,  1629.8335  ,  4877.98105 ,  3561.8889  ,
        8605.3615  , 24520.264   , 45710.20785 , 15019.76005 ,
        6664.68595 , 20709.02034 , 40932.4295  ,  9500.57305 ])

## Part 3: Evaluating the model

### R-Squared

In [ ]:
from sklearn.metrics import r2_score
r2 = r2_score(y_test, y_pred)

In [ ]:
r2

0.9000952166319387

### Adjusted R-Squared

In [ ]:
k = X_test.shape[1]
n = X_test.shape[0]
adj_r2 = 1-(1-r2)*(n-1)/(n-k-1)

In [ ]:
adj_r2

0.8970093545974039

### k-Fold Cross Validation

In [ ]:
from sklearn.model_selection import cross_val_score
r2s = cross_val_score(estimator = model,
                      X = X,
                      y = y,
                      scoring = 'r2',
                      cv = 10)
print("Average R-Squared: {:.3f}".format(r2s.mean()))
print("Standard Deviation: {:.3f}".format(r2s.std()))

[15:46:10] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[15:46:10] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[15:46:10] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[15:46:10] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[15:46:10] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[15:46:11] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[15:46:11] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[15:46:11] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[15:46:11] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[15:46:11] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
Average R-Squared: 0.859
Standard Deviation: 0.044